body {
    font-family: 'Raleway', sans-serif;
    color: #58595b;
    text-align: center;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.jumbotron {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    border-bottom: 10px solid #00c7b1;
}

.jumbotron::before {
    background-image: url(./images/background-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

h1 {
    text-transform: uppercase;
    font-size: 66px;
    line-height: 1.1;
    font-weight: 900;
}

p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

a {
    color: #ff6939;
}

.call-to-sign-up {
    background-color: #ff6939;
    padding: 1px 0;
}

h4 {
    color: white;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 600;
}

.copyright {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #59595b;
}

.icon {
    height: 60%;
    width: 60%;
}

.triangle {
    height: 25%;
    width: 25%;
}

h2 {
    color: #00c7b1;
    font-weight: 600;
    font-size: 32px;
}

h3 {
    color: #ff6939;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}

main {
    margin-bottom: 32px;
}

.main-title {
    margin-bottom: 50px;
}

.icon-footer {
    margin-top: 20px;
}

.form-checkbox-row {
    margin: 0 auto;
    width: 40%;
}

.form-sign-up {
    margin: 0 auto;
    width: 10%;
}

.btn-primary {
    background-color: #00c7b1;
    font-weight: 600;
    color: white;
    border: none;
    padding: 10px 25px;
}

form {
    padding: 50px 0;
    text-align: left;
    font-weight: 600;
}

.sign-up-form {
    background-color: whitesmoke;
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 12px;
    }
    h4 {
        font-size: 12px;
    }
    p {
        font-size: 8px;
    }
}

@media (max-width: 767.98px) {
    .icon {
        height: 30%;
        width: 30%;
    }
}